.content{
    display: grid;
    width: 100vw;
    height: 100vh;

    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(80px, auto);

    grid-template-areas:
    "header header header header header"
    ". main main main aside"
    ". main main main aside"
    "footer footer footer footer footer";

    gap: 3px;
}

header{
    grid-area: header;
    background-color: blueviolet;
    font-size: 6em;
    font-style: italic;
    border: 3px solid black;
    align-content: center;
    font-weight: 500;
}

main{
    background-color: red;
    grid-area: main;
    font-size: 6em;
    font-style: italic;
    border: 3px solid black;
    align-content: center;

}

aside{
    background-color: aqua;
    grid-area: aside;
    font-size: 6em;
    font-style: italic;
    border: 3px solid black;
    align-content: center;

}

footer{
    background-color: greenyellow;
    grid-area: footer;
    font-size: 6em;
    font-style: italic;
    border: 3px solid black;
    align-content: center;
}



.content > *{
    color: #000000;
    text-align: center;
    padding: 10px;
}